p {
  font-weight: 600 !important;
}

h2 {
  font-weight: 700 !important;
}

input {
  border: 1px solid black !important;
  border-radius: 12px !important;
  transition: border-color 0.2s !important;
}

input:hover {
  border-color: rgb(0, 0, 0) !important;
}

input:focus {
  border-color: rgb(0, 0, 0) !important;
  outline: none !important;
}

select {
  border: 1px solid black !important;
  border-radius: 12px !important;
  transition: border-color 0.2s !important;
}

select:hover {
  border-color: rgb(0, 0, 0) !important;
}

select:focus {
  border-color: rgb(0, 0, 0) !important;
  outline: none !important;
}